.App{
  text-align: center;
}


.container{
  padding: 10px;
}
.row {
    
  margin-left: 0px !important;
  margin-right: 0px !important;

}

.navigation-bar {
  padding: 10vh;
}

.content{
  margin: 15px;
}

.loading-bar{
  padding: 20px;

}
.center-align {
  margin: 0 auto;
  display: block;
  text-align: center;

  height:200px;
  width:100px;

}


.header{
  padding: 20px;
  background-color:  #ED1D24;
  text-align: center;
  font-family: "Gill Extrabold", sans-serif; 
  font-weight: 900;

}

.trombinoscope {
 
  margin-left: 0px !important;
  margin-right: 0px !important;

}
.button-page  {
  padding-left: 10px !important;
  padding-right: 10px !important;
  
}

.portrait-card {
  border: solid,3, black ;
  text-align: center;
  padding: 5px;
  font-size: 2.5vh;
  font-family: "Gill Sans Extrabold", sans-serif; 
  font-weight: 700;
}

.portrait-card:hover {
  transform: scale(1.1);

}
.center-screen{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
}


.thumbnail {
  object-fit: cover;
}